{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Checkout</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<link rel="stylesheet" href="{% static '/checkout.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="checkout__box">

	<hr>

	<h3>Purchase: <span class="sub-txt">Subscription</span></h3>

	<div class="checkout__opts">

        {% for package in p_list %}
        <div class="opt opt1" data-rel="{{ forloop.counter }}" data-price={{package.price}}>
            <div class="gridme">
                <div class="radio">
                    <span class="radio_btn"></span>
                </div>
                <div class="lbl">{{package.name}}</div>
                <div class="radio_price">${{package.price}}</div>
            </div>
            <div class="info-txt">
                {{package.desc1}}
            </div>
            <div class="info-txt">
                Duration: {{package.cycle}}
            </div>
            <div class="info-txt">
                {{package.desc2}}
            </div>
        </div>
        {% endfor %}

	</div>

	<h4 class="price">
		<span class="reg_price crossed">Total: ${{p_list.0.price}}</span>
		<span class="sub_price"> Total: ${{p_list.1.price}}</span>
	</h4>
		<div class="detail-info">
			<div class="info">
				<small>Enter your credit card detail to complete subscription</small>
			</div>
			<div class="input-field">
				<label for="card_number">Card number</label>
				<input type="number" id="card_number" placeholder="32">
			</div>
			<div class="grid">
				<div class="input-field">
					<label for="expire_date">Expire date</label>
					<input type="date" id="expire_date" placeholder="23-Jan-2021">
				</div>
				<div class="input-field">
					<label for="card_code">Card code</label>
					<input type="number" id="card_code" placeholder="322">
				</div>
			</div>
		
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit error omnis sunt magnam ipsam. Quod laboriosam
				ducimus veritatis explicabo, nulla atque. Maiores neque autem velit?</p>
			<div class="cart_btn">
				<button type="button" class="btn addtocart">Checkout</button>
			</div>
	</div>


	<div class="guarantee">
		<div>
			<i class="las la-feather-alt"></i>
			UniAi
		</div>
		<div class="line"></div>
		<div>
			<i class="las la-comment"></i>
			Description
		</div>
	</div>

</div>

<form id="form__tosubmit">
	<!-- 1=One time purchase | 2=Subscription -->
	<input type="hidden" name="opt" value="2" id="in_opt">
	<input type="hidden" name="freq" value="1" id="in_freq">
	<input type="hidden" name="quan" value="1" id="in_quan">
	<input type="hidden" name="total_price" value="115.00" id="in_total">
</form>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'>

  </script><script  src="{% static '/checkout.js' %}"></script>

</body>
</html>
