
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
   <!-- Page Title -->
   <title>Dashmin - Multipurpose Bootstrap Dashboard Template</title>

   <!-- Meta Data -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="keywords" content="">

   <!-- Favicon -->
   <link rel="shortcut icon" href="../../../assets/img/favicon.png">

   <!-- Web Fonts -->
   <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

   <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->


   <link rel="stylesheet" href="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.css' %}">
   <link rel="stylesheet" href="{% static 'fonts/icofont/icofont.min.css' %}">
   <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'plugins/apex/apexcharts.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">

   <!-- ======= END MAIN STYLES ======= -->

</head>

<body>
         <!-- End Sidebar -->

    {% include "nav.html" %}


                  <div class="main-content d-flex flex-column flex-md-row">
            <div class="container-fluid">
               <div class="row">
                    <div class="col-12">
                        <!-- Contact Header -->



                        <!-- End Contact Header -->
                    </div>

                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <!-- Project Box -->
                        <div class="project-box one mb-30">
                            <!-- Custom Checkbox -->
                            <label class="custom-checkbox">
                                <input type="checkbox" class="projectCheckbox">
                                <span class="checkmark"></span>
                            </label>
                            <!-- End Custom Checkbox -->

                            <div class="d-flex justify-content-between align-items-center mb-20">
                                <div class="">
                                    <a href="task-list.html"><h4>Dashmin Admin Template</h4></a>
                                </div>

                                <div class="d-flex align-items-center">
                                    <!-- Starred -->

                                    <!-- End Starred -->

                                    <!-- Dropdown Button -->
                                    <div class="dropdown-button ml-3">
                                        <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                                            <div class="menu-icon mr-0">
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="create-new.html" class="edit">Edit</a>
                                            <a href="#" class="select">Select</a>
                                            <a href="#" class="delete">Delete</a>
                                        </div>
                                    </div>
                                    <!-- End Dropdown Button -->
                                 </div>
                            </div>

                            <div class="d-flex justify-content-between align-items-end pt-1">
                                <div class="font-12">
                                    <p class="mb-0 l-height">Last update</p>
                                    <p class="bold black">21 Jan 2019</p>
                                </div>
                            </div>
                        </div>
                        <!-- End Project Box -->
                    </div>


                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <!-- Project Box -->
                        <div class="project-box d-flex align-items-center justify-content-center mb-30">
                           <a href="/create" class="bold font-14 black d-flex align-items-center">
                              <img src="../../../assets/img/svg/plus.svg" alt="" class="svg mr-2">
                              Create New Project
                           </a>
                        </div>
                        <!-- End Project Box -->
                    </div>
                </div>
            </div>
         </div>

      <!-- End Main Wrapper -->


      <!-- End Footer --><!-- End wrapper -->


   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->






   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
         <script src="{% static 'js/script.js' %}"></script>
   <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
   <script src="{% static 'plugins/apex/custom-apexcharts.js' %}"></script>
   <script src="{% static 'plugins/apex/apexcharts.min.js' %}"></script>

   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
</body>

</html>