
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
   <!-- Page Title -->
   <title>Dashmin - Multipurpose Bootstrap Dashboard Template</title>

   <!-- Meta Data -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="keywords" content="">

   <!-- Favicon -->
   <link rel="shortcut icon" href="../../../assets/img/favicon.png">

   <!-- Web Fonts -->
   <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap" rel="stylesheet">

   <!-- ======= BEGIN GLOBAL MANDATORY STYLES ======= -->


   <link rel="stylesheet" href="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.css' %}">
   <link rel="stylesheet" href="{% static 'fonts/icofont/icofont.min.css' %}">
   <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'plugins/apex/apexcharts.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">

   <!-- ======= END MAIN STYLES ======= -->

</head>

<body>
         <!-- End Sidebar -->

    {% include "nav.html" %}




      <!-- End Main Wrapper -->



          <div class="main-content">
                <div class="container-fluid">

                    <div class="card">
                        <div class="pt-40 px-3 px-sm-4 px-md-5 pb-3">
                            <div class="row mb-5">
                                <div class="col-xl-9">
                                    <h3 class="mb-3">Choose A Package</h3>
                                    <p>You are curently subscribed to PRO Plan </p>
                                </div>
                            </div>

                            <div class="row justify-content-center pt-2">
                                <div class="col-xl-11">
                                    <div class="row justify-content-center">
                                        <div class="col-xl-4 col-md-6">
                                            <!-- Price Box -->
                                            <div class="price-box mb-30">
                                                <!-- Price Header -->
                                                <div class="price-header d-flex flex-wrap bg-primary">
                                                    <div class="p_header-img">
                                                        <img src="../../assets/img/svg/p_img1.svg" alt="">
                                                    </div>
                                                    <form name="package1" method="POST">
                                                        {% csrf_token %}
                                                    <div class="p_header-content">
                                                        <h4>Starter</h4>
                                                        <h1>$30</h1>
                                                        <p>Per Month</p>
                                                       <a href="#" class="btn mt-10" type="submit">Order Now</a>
                                                    </div>
                                                </div>
                                                </form>
                                                <!-- End Price Header -->

                                                <!-- End Price Body -->
                                                <div class="price-body">
                                                    <h5 class="mb-3">Package Detail</h5>
                                                     <form name="package1" method="POST">
                                                        {% csrf_token %}

                                                    <ul class="list-unstyled mb-4">
                                                        <li><i class="icofont-check"></i> 50,000 words per month</li>
                                                        <li><i class="icofont-check"></i> Access our powerful SEO optimized blog editor.</li>
                                                    </ul>

                                                    <a href="#" class="btn mt-10" type="submit">Order Now</a>
                                                         </form>
                                                </div>
                                                <!-- End Price Body -->
                                            </div>
                                            <!-- End Price Box -->
                                        </div>

                                        <div class="col-xl-4 col-md-6">
                                            <!-- Price Box -->
                                            <div class="price-box active mb-30">
                                                <!-- Price Header -->
                                                <div class="price-header d-flex flex-wrap">
                                                    <div class="p_header-img">
                                                        <img src="../../assets/img/svg/p_img2.svg" alt="">
                                                    </div>
                                                    <div class="p_header-content">
                                                        <h4>Business</h4>
                                                        <h1>$249</h1>
                                                        <p>For 2 Years</p>
                                                    </div>
                                                </div>
                                                <!-- End Price Header -->

                                                <!-- End Price Body -->
                                                <div class="price-body">
                                                    <h5 class="mb-3">Package Detail</h5>
                                                    <ul class="list-unstyled mb-4">
                                                        <li><i class="icofont-check"></i> Accounting dashboard</li>
                                                        <li><i class="icofont-check"></i> Invoicing</li>
                                                        <li><i class="icofont-check"></i> Online payments</li>
                                                        <li><i class="icofont-check"></i> Branded website</li>
                                                        <li><i class="icofont-close text-danger"></i> Dedicated account manager</li>
                                                        <li><i class="icofont-close text-danger"></i> Premium apps</li>
                                                    </ul>

                                                    <h5 class="mb-3">More you get</h5>
                                                    <ul class="list-unstyled mb-4">
                                                        <li><i class="icofont-check"></i> Accounting dashboard</li>
                                                        <li><i class="icofont-check"></i> Invoicing</li>
                                                        <li><i class="icofont-close text-danger"></i> Online payments</li>
                                                    </ul>

                                                    <a href="#" class="btn mt-10">Order Now</a>
                                                </div>
                                                <!-- End Price Body -->
                                            </div>
                                            <!-- End Price Box -->
                                        </div>

                                        <div class="col-xl-4 col-md-6">
                                            <!-- Price Box -->
                                            <div class="price-box mb-30">
                                                <!-- Price Header -->
                                                <div class="price-header d-flex flex-wrap enterprise">
                                                    <div class="p_header-img">
                                                        <img src="../../assets/img/svg/p_img3.svg" alt="">
                                                    </div>
                                                    <div class="p_header-content">
                                                        <h4>Enterprise</h4>
                                                        <h1>$459</h1>
                                                        <p>For 5 Years</p>
                                                    </div>
                                                </div>
                                                <!-- End Price Header -->

                                                <!-- End Price Body -->
                                                <div class="price-body">
                                                    <h5 class="mb-3">Package Detail</h5>
                                                    <ul class="list-unstyled mb-4">
                                                        <li><i class="icofont-check"></i> Accounting dashboard</li>
                                                        <li><i class="icofont-check"></i> Invoicing</li>
                                                        <li><i class="icofont-check"></i> Online payments</li>
                                                        <li><i class="icofont-check"></i> Branded website</li>
                                                        <li><i class="icofont-close text-danger"></i> Dedicated account manager</li>
                                                        <li><i class="icofont-close text-danger"></i> Premium apps</li>
                                                    </ul>

                                                    <h5 class="mb-3">More you get</h5>
                                                    <ul class="list-unstyled mb-4">
                                                        <li><i class="icofont-check"></i> Accounting dashboard</li>
                                                        <li><i class="icofont-check"></i> Invoicing</li>
                                                        <li><i class="icofont-close text-danger"></i> Online payments</li>
                                                    </ul>

                                                    <a href="#" class="btn mt-10">Order Now</a>
                                                </div>
                                                <!-- End Price Body -->
                                            </div>
                                            <!-- End Price Box -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


      <!-- End Footer --><!-- End wrapper -->


   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->






   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
         <script src="{% static 'js/script.js' %}"></script>
   <script src="{% static 'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
   <script src="{% static 'plugins/apex/custom-apexcharts.js' %}"></script>
   <script src="{% static 'plugins/apex/apexcharts.min.js' %}"></script>

   <!-- ======= BEGIN GLOBAL MANDATORY SCRIPTS ======= -->
</body>

</html>